body {
    background: #FCFFED;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
    color: #204862;
    font-family: 'Graduate', sans-serif;
}

.btn {
    background-color: #ff9746;
    color: #204862;
    border-radius: 10px;
}

.btn:hover {
    background-color: #c8e3e8;
}

.tabs{
    color: white;
    background-color: #6793A3;
}

a{
    text-decoration: none;
}

/* Intro text */

#welcome {
    font-size: 30px;
    text-align: center;
    color: #204862;
}

#modeInstructions {
    margin-top:45px;
    font-size: 24px;
    text-align: center;
    color: #204862;
}

/* The carousel pieces */

.carousel {
    position: absolute;
    right: 35px;
    top: 0px;
}

#pic1,
#pic2,
#pic3 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.beg-button {
    position: absolute;
    top: 200px;
    left: 25px;

}

.int-button {
    position: absolute;
    top: 200px;
    left: 145px;
}

/* Game mode instructions pieces */

.close-button {
    margin-top: 5px;
}

.tap-target-wave {
    display: none;
}

.tap-target {
    background-color: #204862;
}

.tap-target-content {
    letter-spacing: .05em;
}

/* the game pieces */

#gameWindow{
    width:800px;
    height: 500px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #204862;
    position: absolute;
    left:575px;
    top: 150px;

}

#gameDisplay{
    display:none;
    padding: 50px;
    color: #204862;
}

#challengeStats{
    position: absolute;
    text-align: center;
    color: #204862;
    font-size: 18px;
    top: -2px;
    right:-2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #204862;
    border-radius: 0px 10px 0px 10px;
    width: 258px;
}

.nextQuestionButton {
    background-color: #ff9746;
    color: #204862;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: 18px;
    bottom: -2px;
    right: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #204862;
    border-radius: 10px 0px 10px 0px;
    width: 258px;
}

.nextQuestionButton:hover {
    background-color: #c8e3e8;
}

#restartGame {
    background-color: #ff9746;
    color: #204862;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: 18px;
    bottom: -2px;
    left: -2px;

    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #204862;
    border-radius: 0px 10px 0px 10px;
    width: 258px;
}

#restartGame:hover {
    background-color: #c8e3e8;
}


#answerChoices {
    border: none;
}

tr,
td {
    border: none;
}

#gameResult {
    color: #204862;
    font-size: 22px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 20px;

}

/* Where the giphy is displayed */

#modal1 {
    width: 500px;
    height: 500px;
    overflow-x:hidden;
    position: absolute;
    bottom: 300px;
    border-radius: 10px;
}


/* Slide out Section */

#sideButton {
    padding: 10px;
    background-color: #FF9746;
    float: left;
    border-radius: 10px 10px 0 0;
    transform: rotate(90deg);
    height: 300px;
    width: 300px;
    position: relative;
    right: 250px;
}

#sideButtonText {
    color: #204862;
    font-size: 20px;
    float: left;
    text-align: center;
    margin-right: 10px;
    position: relative;
    left: 0;
}

/* #sideButtonText:focus {
    color: #fff;
    font-size: 20px;
    float: left;
    text-align: center;
    margin-right: 10px;
    position: relative;
    left: 325px;
} */


.sidenav{
    width:325px;
    background-color: #204862;
}

.collapsible-header {
    font-size: 18px;
    font-weight: bold;
}

.collapsible-body {
    font-size: 18px;
    line-height: 16px;
    margin: 10px;
}

#scoreCard {
    margin-top: 15px;
    width: 300px;
    background-color: #6793A3;
}

#linkCard {
    width: 300px;
    background-color: #6793A3;
}

#usefulLinks {
    font-size: 20px;
    padding: 10px;
}

#gameoverDisplay{
    display: none;
    position: absolute;
    bottom: -2px;
    right: -2px;


}

#scoreEnter{
    background-color: #ff9746;
    color: #204862;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #204862;
    border-radius: 10px 0px 10px 0px;
    width: 258px;
    font-size: 18px;
}

#gameoverDisplay:hover {
    /* background-color: #c8e3e8; */
}


#gameoverText{
    position: absolute;
    top: -70px;
}
















/* Not sure if we still need this stuff so I'm going to leave it here */


.level-button {
    margin-right: 10px;
}

#modal3 {
    width: 800px;
    height: 800px;
    position: absolute;
    bottom: 300px;
    border-radius: 10px;
}

.lowScore {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #204862;
}

