#gameWindow{
    width:800px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
}

h1 {
    text-align: center;
}

#welcome {
    font-size: 30px;
    text-align: center;
}

#modeInstructions {
    font-size: 24px;
    text-align: center;
}

.sidenav{
    width:350px;
}

#scoreCard {
    width: 300px;
}

#linkCard {
    width: 300px;
}

#sideButton {
    padding: 50px;
    background-color: #FF9746;
    width: 120px;
    float: left;
}

#sideButtonText {
    color: white;
    font-size: 20px;
    float: left;
}

#welcomeDiv {
    text-align: center;

}